# Wompi Configuration
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=pub_test_...
WOMPI_PRIVATE_KEY=prv_test_...
WOMPI_EVENTS_KEY=events_test_...
WOMPI_INTEGRITY_SECRET=integrity_test_...

# Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000
